# Fichiers volumineux à ignorer
*.zip
*.apk
*.tar.gz
*.rar

# Fichiers de build Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
flutter_*.png
linked_*.ds
unlinked.ds
unlinked_spec.ds

# Fichiers IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Fichiers OS
.DS_Store
Thumbs.db

# Logs
*.log

# Fichiers temporaires
*.tmp
*.temp